#gui, #canvas {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
}

#gui {
    background-image: url(background.png);
    text-align: center;
    font-family: monospace;
    color: white;
    text-shadow: 3px 3px rgb(63, 63, 63);
}

#gui h1 {
    position: absolute;
    width: 100%;
    top: 40%;
}

#gui h2 {
    position: absolute;
    width: 100%;
    top: 50%;
}

#gui progress {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 200px;
    height: 4px;
    margin-left: -100px;
}

#canvas {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
}